header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-color);
    padding: 0.75rem;
}

.header__logo {
    font-weight: bold;
    font-size: 1.3rem;
    cursor: pointer;
}

.header__dropdown {
    font-weight: 500;
    display: flex;
    align-items: center;
    position: relative;
    & > a {
        padding: 0.5rem;
    }
    img {
        display: block;
        padding: 0.5rem;
        cursor: pointer;
        transform: scale(0.7);
    }
}

.header__options {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    padding: 0.5rem;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    animation: slideDown 0.3s ease;
    background-color: var(--primary-color);
    z-index: 1;
    a {
        transition: transform 0.3s ease;
    }
    a:first-child {
        margin-bottom: 0.6rem;
    }
    a:hover {
        transform: translateX(0.25rem);
    }
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-10px)
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.border-basic {
    color: var(--text-color);
    padding: 0.5rem 1rem;
    background: #ffffff;
    border-radius: 0.25rem;
    font-size: 1rem;
    border: 3px solid var(--border-color);
    transition: background-color 0.2s ease;
    &:hover {
        background-color: var(--hover-color);
    }
}