header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-color);
    padding: 0.75rem;
}

.header__logo {
    font-weight: bold;
    font-size: 1.3rem;
    cursor: pointer;
}

.header__dropdown {
    font-weight: 500;
}

.border-basic {
    color: var(--text-color);
    padding: 0.5rem 1rem;
    background: #ffffff;
    border-radius: 0.25rem;
    font-size: 1rem;
    border: 3px solid var(--border-color);
    transition: background-color 0.2s ease;
    &:hover {
        background-color: var(--hover-color);
    }
}