.login {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba($color: #f6ad55, $alpha: 0.6);
    padding: 0.75rem;
}

.login__content {
    width: 100%;
    max-width: 600px;
    min-height: 300px;
    border:3px solid var(--border-color);
    border-radius: 0.25rem;
    background-color: #fff;
    padding: 1rem;
    h3 {
        color: var(--text-color);
    }
}

.login__form {
    color: var(--text-color);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    label {
        margin-bottom: 0.5rem;
    }

    input {
        margin-bottom: 1rem;
        border: 2px solid var(--border-color);
        border-radius: 10px;
        padding: 0.5rem;
        outline: none;
        font-family: 'Ubuntu';
        font-size: 1rem;
        &:focus {
            border-color: var(--hover-color);
        }
    }

    button {
        margin-top: 0.25rem;
        padding: 0.5rem 1rem;
        border-radius: 10px;
        border: 2px solid var(--hover-color);
        font-family: 'Ubuntu';
        font-size: 1rem;
        font-weight: 500;
        cursor: pointer;
        background-color: #fff;
        transition: background 0.3s ease;
        color: var(--text-color);
        &:hover {
            background-color: var(--hover-color);
        }
    }
}

.login__signup {
    display: flex;
    justify-content: center;
    font-size: 0.875rem;
    @media (min-width: 375px) {
        font-size: 1rem;
    }
    a {
        color: var(--text-color);
        font-weight: 500;
        margin-left: 1rem;
    }
}