.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba($color: #f6ad55, $alpha: 1);
    padding: 0.5rem;
}

.modal__content {
    background-color: #fff;
    padding: 1rem;
    border: 4px solid var(--border-color);
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    width: 100%;    
    max-width: 600px;
    color: var(--text-color);
    h3 {
        font-weight: 700;
        font-size: 1.5rem;
    }
    form {
        .input {
            @extend .border-basic;
            width: 100%;
            margin-bottom: 1rem;
            border-width: 1px;
            &:hover {
                background-color: #fff;
            }
            &:focus {
                outline: none;
                border-color: var(--hover-color);
            }
            &::placeholder {
                font-family: 'Ubuntu';
                font-size: 0.875rem;
                font-weight: 300;
            }
        }

        textarea {
            width: 100%;
            &:focus {
                outline: none;
                border: 1px solid var(--hover-color);
            }
        }
        label {
            margin-bottom: 0.5rem;
            display: block;
            font-weight: 500;
        }

        button {
            @extend .border-basic;
            margin: 1rem 0;
            width: 100%;
            font-family: 'Ubuntu';
            font-weight: 500;
            color: var(--color-text);
            cursor: pointer;
        }

    }

}

.modal__close {
    width: 2rem;
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
    display: inline-block;
}



