.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba($color: #f6ad55, $alpha: 0.6);
    padding: 0.5rem;
}

.modal__content {
    animation: fadeIn 0.6s ease;
    background-color: #fff;
    padding: 1rem;
    border: 4px solid var(--border-color);
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 100%;    
    max-width: 600px;
    color: var(--text-color);
    h3 {
        font-weight: 700;
        font-size: 1.5rem;
        margin: 0.875rem 0;
    }
    form {
        .input {
            @extend .border-basic;
            padding: 0.5rem;
            font-size: 1rem;
            font-weight: 500;
            font-family: 'Ubuntu';
            width: 100%;
            border-radius: 3px;
            border: none;
            margin-bottom: 0.75rem;
            &:hover {
                background-color: #fff;
            }
            &:focus {
                outline: none;
                box-shadow: 0 0 0 3px rgba($color: #007bff40, $alpha: 0.25);
            }
            &::placeholder {
                font-family: 'Ubuntu';
                font-size: 1rem;
                font-weight: 400;
            }
        }

        textarea {
            border-radius: 3px;
            padding: 0.5rem;
            border: none;
            width: 100%;
            font-size: 17px;
            &:focus {
                outline: none;
                box-shadow: 0 0 0 3px rgba($color: #007bff40, $alpha: 0.25);
            }
        }
        
        button {
            @extend .border-basic;
            margin: 1rem 0;
            width: 100%;
            font-family: 'Ubuntu';
            font-weight: 500;
            color: var(--text-color);
            cursor: pointer;
            &:focus {
                outline: none;
                border-color: var(--hover-color);
            }
        }
    }
}

.modal__close {
    width: 2rem;
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
    display: inline-block;
}



