.note {
    position: relative;
    width: 100%;
    animation: fadeIn 1s ease;
}

.note__body {
    @extend .border-basic;
    padding: 0.875rem;
    padding-bottom: 0.5rem;
    color: var(--text-color);
    height: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: transform 0.3s ease;
    &:hover {
        transform: translate(-12px, -12px);
        background-color: #fff;
        .note__footer {
            opacity: 1;
        }
    }
}

.note__header {
    margin-bottom: 1rem;
}
.note__title {
    font-weight: 700;
    font-size: 1.3rem;
    margin-bottom: 0.25rem;
    color: var(--border-color);
}

.note__category {
    font-weight: 500;
    font-size: 11px;
    padding: 4px 6px;
    display: inline-block;
    min-width: 35px;
    color: #3c4043;
    background-color: rgba($color: #000000, $alpha: 0.08);
    border-radius: 12px;
    opacity: 0.9;
    &:focus {
        outline: none;
    }
}
.note__content {
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
}

.note__footer {
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.note__icons {
    display: flex;
    align-self: flex-end;
    .icon {
        cursor: pointer;
        opacity: 0.7;
        height: 32px;
        width: 32px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
            opacity: 0.8;
            background-color: rgba(95,99,104,0.157);
        }
    }
}

.note__timestamps {
    opacity: 0.8;
    p {
        margin: 0;
        font-weight: 300;
        font-size: 0.875rem;
    }
}

.note__bg {
    background-color: var(--hover-color);
    border: 3px solid var(--border-color);
    border-radius: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}