.grid-container {
    padding: 0.75rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;

    @media (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);   
    }

    @media (min-width: 1200px) {
        grid-template-columns: repeat(3, 1fr);
    }
}

.no-notes {
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    a {
        color: royalblue;
    }
    @media (min-width: 768px) {
        font-size: 1.5rem;
    }

}