.note {
    position: relative;
    width: 100%;
    animation: fadeIn 1s ease;
}

.note__body {
    @extend .border-basic;
    padding: 0.875rem;
    color: var(--text-color);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: transform 0.3s ease;
    &:hover {
        transform: translate(-12px, -12px);
        background-color: #fff;
        .note__title {
            text-decoration: underline;
        }
    }
}

.note__title {
    font-weight: 700;
    font-size: 1.3rem;
    margin-bottom: 0.25rem;
    color: var(--border-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.note__category {
    font-weight: 400;
    font-size: 0.875rem;
    margin-bottom: 1rem;
}
.note__content {
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.note__options {
    display: flex;
}
@mixin option($bgColor, $color: white, $radius: 3px) {
    padding: 0.5rem 1rem;
    color: $color;
    background-color: $bgColor;
    border-radius: $radius;
    font-size: 0.875rem;
}

.note__delete {
    @include option(#e36387, $color: #810000);
}

.note__edit {
    @include option(#99f3bd, $color: #276749);
    margin-right: 0.75rem;
}

.note__timestamps {
    margin-top: 0.5rem;
    p {
        margin: 0;
        font-weight: 300;
        font-size: 0.875rem;
    }
    p:first-child {
        margin-bottom: 0.25rem;
    }
}

.note__bg {
    background-color: var(--hover-color);
    border: 3px solid var(--border-color);
    border-radius: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}