.search {
    padding: 0.5rem 0.75rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    @media (min-width: 768px) {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
}

.search__field {
    @extend .border-basic;
    padding: 0 0.25rem 0 1rem;
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    &:not(:last-child) {
        margin-bottom: 0.5rem;
    }
    @media (min-width: 768px) {
        margin-right: 1.5rem;
        width: 300px;
    }
    @media (min-width: 1013px) {
        &:not(:last-child) {
            margin-bottom: 0;
        }
    }
    select {
        cursor: pointer;
        padding: 0.5rem 1rem;
        border: none;
        outline: none;
        width: 50%;
        margin-left: 2rem;
        font-family: 'Ubuntu';
        font-size: 1rem;
        color: var(--text-color);
        background-color: transparent;
    }
}

.search__field--term {
    &:hover {
        background-color: #fff;
    }
    form {
        width: 100%;
        input {
            padding: 0.5rem 0;
            font-size: 1rem;
            font-family: 'Ubuntu';
            color: var(--text-color);
            width: 100%;
            display: block;
            background-image: url('https://uploads-ssl.webflow.com/5ea8febebff98adb1065a861/5eb309d676a0c0ed1911829a_search.svg');
            background-position: 100% 50%;
            background-repeat: no-repeat;
            background-size: 20px;
            border: none;
            background-color: transparent;
            &:focus {
                outline: none;
            }
            &::placeholder {
                font-family: 'Ubuntu';
                font-weight: 300;
            }
        }
    }    
}



