:root {
    --primary-color: #feebc8;
    --text-color: #2b2927;
    --border-color: #585450;
    --hover-color: #f6ad55;
}

* {
    box-sizing: border-box;
}

body {
    font-family: system-ui;
    margin: 0;
    background-color: var(--primary-color);
    font-family: 'Ubuntu';
}

a {
    text-decoration: none;
    display: block;
    color: inherit;
}

ul {
    padding: 0;
    list-style: none;
}

@import './Header.scss';
@import './Search.scss';
