* {
    box-sizing: border-box;
}

body {
    font-family: system-ui;
    margin: 0;
}

a {
    text-decoration: none;
    display: block;
    color: inherit;
}

ul {
    padding: 0;
    list-style: none;
}
